.redactor_box {
    width: 900px;
}
.redactor_box.wide {
    width: 1200px
}
label.redactor_label {
    float: none;
    padding-bottom: 10px;
}

#redactor_image_box img{
    max-width: 100px;
    max-height: 100px;
    min-width: 80px;
    min-height: 80px;
}

#redactor_image_folders{
    width: 100%;
    overflow: hidden;
}

#redactor_image_folders a{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

}

.redactor_folder{
    background-image: url("../img/folder.png");
    width: 128px;
    height: 128px;
    text-align: center;
}
.redactor_folder_text{
    position: relative;
    top: 50%;
    font-size: 16px;

}