#redactor_image_box img{
    width: 100px;
}

#redactor_folder_container_div{

}

#redactor_folder_container{

}

#redactor_folder_container li{
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
}

#redactor_folder_container a{
    color: #000000;
    font-size: 16px;
}